.toppage{
    background-image: url("https://bit.ly/2I4RufG");
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white ;
    font-family: 'Cookie';
    font-size: 20;
}
.kitchen{
    background-image: url("https://bit.ly/2Pv1jI0");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}